@charset "utf-8";

@font-face {
    font-family: 'KoddiUDOnGothic';
    src: url('../font/KoddiUDOnGothic-ExtraBold.eot');
    src: url('../font/KoddiUDOnGothic-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../font/KoddiUDOnGothic-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoddiUDOnGothic';
    src: url('../font/KoddiUDOnGothic-Bold.eot');
    src: url('../font/KoddiUDOnGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/KoddiUDOnGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KoddiUDOnGothic';
    src: url('../font/KoddiUDOnGothic-Regular.eot');
    src: url('../font/KoddiUDOnGothic-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/KoddiUDOnGothic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1;
    color: #333;
    font-family: 'KoddiUDOnGothic';
    font-size: 1.6rem;
}

.mobile {
    display: none;
}
/* 🍧🍧header */
header {
    max-width: 1920px;
    width: 100%;
    height: 16rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

header .header_top {
    width: 100%;
    height: 5.5rem;
    background-color: #303030;
    color: #fff;
    text-align: center;
    line-height: 5.5rem;
}

header .header_main {
    height: 10.5rem;
    padding: 0 8vw;
}


header .header_main h1 {
    width: 14.6rem;
    height: 8.2rem;
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
}

header .header_main h1 a img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .header_main .pc {
    display: flex;
    justify-content: space-between;
    line-height: 10.5rem;
    /* align-items: center 안돼서 일단 이거 함 */
}

header .header_main nav ul li {
    display: inline-block;
    color: #fff;
    font-weight: bold;
}

header .header_main nav .left_gnb li {
    margin-right: 4rem;
}

header .header_main nav .right_gnb li {
    margin-left: 4rem;
}

.main_visual figure img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/* 🍧🍧 .product_list */
.category .inner {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
}
.category .inner h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
}
.category .inner .list {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.category .inner .list .item {
    width: calc(100% / 4 - 40px);
}
.category .inner .list .item figure{
    background-color: #ededed;
    width: 100%;
    height: 70%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.category .inner .list .item figure:hover {
    background-color: rgb(139, 139, 139,0.8);
}
.category .inner .list .item figure img{
    width: 80%;
    height: 50%;
    object-fit: contain;
}
.category .inner .list .item p{
    font-size: 2.5rem;
    text-align: center;
}

/* 🍧🍧.content */
.content .inner {
    max-width: 1440px;
    width: 95%;
    margin: 10rem auto;
}
.content .inner .filter {
    text-align: right;
    margin: 7rem 0;
}
.content .inner .filter ul li {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border: 1px solid #8B8B8B;
    border-radius: 5rem;
    margin-left: 1vw;
}
.content .inner .filter ul li:hover {
    border: none;
    background-color: #A9BA92;
    color: #fff;
}

.content .inner>div {
    margin-bottom: 8rem;
}
.content .inner>div  h4 {
    font-size: 3rem;
    margin-bottom: 5rem;
}
.content .inner>div  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.content .inner>div  .list .item {
    margin-bottom: 4rem;
    width: calc(100% / 4 - 20px);
}
.content .inner>div .list .item figure {
    background-color: rgb(255, 229, 180,0.2);
    width: 100%;
    height:max-content ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20% 0;
}
.content .inner>div  .list .item figure:hover {
    border: 5px solid #A9BA92;
}
.content .inner>div  .list .item figure:hover .icon {
    display: block;
}
.content .inner>div .list .item figure > img{
    width: 13vw;
    height: 7vw;
    object-fit: contain;
}
.content .inner>div .list .item figure .icon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: none;
}
.content .inner>div .list .item  figure .icon li{
    display: inline-block;
    border: 1px solid #8B8B8B;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
    padding: 0.4rem;
    background-color: #fff;
}
.content .inner>div .list .item figure .icon li img {
    width: 100%;
    height: 100%;
}
.content .inner>div .list .item h5 {
    margin-top: 2.5rem;
    font-size: 2rem;
}
.content .inner>div .list .item p {
    margin-top: 2rem;
    color: #8B8B8B;
}

.content .inner .pint .list .item figure > img{
    width: 7vw;
    height: 7vw;
}

.content .inner .cup .list .item figure > img{
    width: 7vw;
    height: 8vw;
}

/* 🍧🍧.footer */
.footer {
    background-color: #202020;
    color: #fff;
}

.footer .inner {
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    padding: 5rem 0;
}

.footer .inner .top {
    margin-bottom: 7rem;
}

.footer .inner .top li {
    display: inline-block;
    margin-right: 5rem;
}

.footer .inner .list {
    display: flex;
    justify-content: space-between;
}

.footer .inner .list ul li {
    margin-bottom: 1rem;
}

.footer .inner .list ul li span {
    color: #797979;
}

.footer .inner .list ul li:nth-child(1) {
    margin-bottom: 1.5rem;
}

.footer .inner p {
    color: #797979;
}



@media screen and (max-width: 1024px) {
    html,body {
        font-size: 50%;
    }
    .pc {
        display: none;
    }
    .mobile {
        display: block;
    }
    /* 🍧🍧.header 1024 */
    header {
        width: 100%;
        height: 16rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }
    
    header .header_top {
        width: 100%;
        height: 5.5rem;
        background-color: #303030;
        color: #fff;
        text-align: center;
        line-height: 5.5rem;
    }
    header .header_top p {
        font-size: 2rem;
    }
    header .header_main nav.pc {
        display: none;
    }

    header .header_main nav.mobile {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    header .header_main nav.mobile .menu_open{
        width: 5vw;
    }

    header .header_main nav.mobile ul {
        display: flex;
        height: 100%;
        align-items: center;
    }
    header .header_main nav.mobile ul li {
        margin-left: 3vw;
    }
    header .header_main nav.mobile ul img {
        width: 4vw;
    }
    /* 1차 메뉴 & 2차 메뉴 */
    header .header_main nav.menu {
        display: block;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        position: fixed;
        top: 5.5rem;
        left: 0;
        display: none;
    }

    header .header_main nav.menu .menu_top{
        padding: 0 8vw;
        background-color: #5A4734;
        display: flex;
        height: 10.5rem;
        justify-content: space-between;
        align-items: center;
    }
    header .header_main nav.menu .menu_top .menu_close {
        width: 8vw;
    }
    header .header_main nav.menu .menu_top ul img {
        width: 4vw;
    }
    header .header_main nav.menu >div:nth-of-type(2) {
        padding: 8vw;
    }
    header .header_main nav.menu >div:nth-of-type(2) ul {
        display: block;
    }

    header .header_main nav.menu >div ul .depth01 {
        display: block;
        font-size: 2rem;
        color: #5A4734;
        padding: 1rem 0;
        margin: 0;
    } 
    header .header_main nav.menu >div ul .depth01 div {
        height: 10vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #d9d9d9;
    }
    header .header_main nav.menu >div ul .depth01 div >img {
        width: 4vw;
        height: 4vw;
    }
    header .header_main nav.menu >div ul .depth01 div div {
        width: 28vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    header .header_main nav.menu >div ul .depth01 div div img {
        margin-right: 3rem;
        width: 5vw;
        height: 5vw;
    }
    header .header_main nav.menu  >div ul .depth01 .depth02 {
        padding: 3rem 7rem;
        display: none;
    }
    header .header_main nav.menu  >div ul .depth01 .depth02 li{
        display: block;
        color: #606060;
        font-size: 2rem;
        margin-bottom: 3rem;
        font-weight:lighter;
    }
    .main_visual figure img {
        width: 100%;
        height: 35vw;
        object-fit: cover;
    }

    /* 🍧🍧.content */

    .content .inner .filter ul li {
        font-size: 1.5rem;
    }

    .content .inner>div  .list .item {
        margin-bottom: 4rem;
        width: calc(100% / 3 - 20px);
    }
    .content .inner>div .list .item h5 {
        font-size: 2.2rem;
    }
    .content .inner>div .list .item p {
        font-size: 1.8rem;
    }
    .content .inner>div .list .item figure > img{
        width: 18vw;
        height: 10vw;
        object-fit: contain;
    }
    .content .inner .pint .list .item figure > img{
        width: 10vw;
        height: 15vw;
    }
    .content .inner .cup .list .item figure > img{
        width: 10vw;
        height: 15vw;
    }
    .content .inner>div .list .item  figure .icon li{
        width: 3vw;
        height: 3vw;
    }

    /* .footer 1024 */
     
    .footer .inner {
        width: calc(100% - 4rem);
        margin: 0 auto;
        padding: 5rem 0;
    }
    
    .footer .inner .top {
        margin-bottom: 5rem;
        text-align: center;
    }
    
    .footer .inner .top li {
        font-size: 2rem;
        display: inline-block;
        margin-right: 2rem;
    }
    .footer .inner .top li:last-child {
        margin: 0;
    }
    .footer .inner p {
        font-size: 2rem;
        color: #797979;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {

    html,body {
        font-size: 40%;
    }
    .main_visual figure img {
        width: 100%;
        height: 45vw;
        object-fit: cover;
    }

    .category .inner .list .item {
        width: calc(100% / 4 - 20px);
    }
    .category .inner .list .item figure{
        background-color: #ededed;
        width: 100%;
        height: 62%;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        padding: 0 0.5rem;
    }

    .category .inner .list .item p{
        font-size: 3rem;
        text-align: center;
    }
    
    /* 🍧🍧.content */
    
    .content .inner .filter ul li {
        font-size: 2rem;
    }
    .content .inner>div  .list .item {
        margin-bottom: 4rem;
        width: calc(100% / 2 - 20px);
    }
    .content .inner>div .list .item h5 {
        font-size: 2.7rem;
    }
    .content .inner>div .list .item p {
        font-size: 2rem;
    }

    .content .inner>div .list .item figure > img {
        width: 25vw;
        height: 20vw;
    }
    .content .inner .pint .list .item figure > img{
        width: 15vw;
        height: 20vw;
    }
    .content .inner .cup .list .item figure > img{
        width: 15vw;
        height: 25vw;
    }
    .content .inner>div .list .item  figure .icon li{
        width: 4vw;
        height: 4vw;
    }
}

@media screen and (max-width: 414px) {
    .main_visual figure img {
        width: 100%;
        height: 50vw;
        object-fit: cover;
    }
    .category .inner .list .item {
        width: calc(100% / 4 - 10px);
    }
    .category .inner .list .item figure img{
        width: 90%;
        height: 60%;
        object-fit: contain;
    }
    .category .inner .list .item p{
        font-size: 2rem;
        text-align: center;
    }

    /* 🍧🍧.content */

    .content .inner .filter ul li {
        font-size: 2rem;
    }
    .content .inner>div  .list .item {
        margin-bottom: 4rem;
        width: calc(100% / 2 - 20px);
    }
    .content .inner>div .list .item h5 {
        font-size: 3rem;
        height: 12vw;
    }
    .content .inner>div .list .item p {
        font-size: 2rem;
    }

    .content .inner>div .list .item figure > img {
        width: 30vw;
        height: 20vw;
    }
    .content .inner .pint .list .item figure > img{
        width: 15vw;
        height: 24vw;
    }
    .content .inner .cup .list .item figure {
        padding: 15% 0;
    }
    .content .inner .cup .list .item figure > img{
        width: 15vw;
        height: 28vw;
    }
    .content .inner>div .list .item  figure .icon li{
        width: 5vw;
        height: 5vw;
    }
}